<?xml version='1.0' encoding='utf-8'?>
<widget id="com.aderowbotham.ngcordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Angular Cordova Bootstrap</name>
    <description>
        A sample Angular + Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="aderowbotham@gmail.com" href="https://aderowbotham.com">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="KeyboardShrinksView" value="false" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="TopActivityIndicator" value="white" />
    
</widget>
